body {
	background: url('http://clipart-db.ru/file_content/rastr/brick_004.jpg');
	background-repeat: repeat-x;
	background-position: 10px;
}

.header {
	border: solid 1px blue;
	padding: 20px;
	margin-top: 20px;	/* внешний верхний отступ */
	background: rgba(255, 255, 255, 0.8);
	height: 270px;
	position: relative;
}

.middle {
	border: solid 1px red;
	padding: 20px;
	margin-top: 20px;	/* внешний верхний отступ */
	background: rgba(255, 255, 255, 0.8);
}

.leftblock { /* Левый блок */
	float: left; /* Задаёт обтекание элемента по левой стороне */
    width: 200px; /* Ширина блока */
    vertical-align: top; /* Выравниваем по верху */
}
.content {/* Блок контента */
	padding-left: 200px;/* Отступ равный ширине левого блока */	
	vertical-align: top; /* Выравниваем по верху */
}

.footer {
	border: solid 1px green;
	padding: 20px; 		/* внутренний отступ */
	margin-top: 20px;	/* внешний верхний отступ */
	background: rgba(255, 255, 255, 0.8);
}

.middle .content h1 + p {
	margin-bottom: 20px;
	background: #ccc;
}

.middle .content a {
	color: blue;
}

.middle .content a:hover {
	color: red;
}

.header .logo     {
	position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 0px;
}

ul.main-menu { /* Главное меню */
	position: absolute;
	bottom: 10px;
}

ul.main-menu > li { /* Элементы меню */
	display: inline-block; /* Выстраиваем список в ряд */	
	background: white;		
	margin-right: 10px; /* Внешние отступы */
	/*border-radius: 10px;  Закругяет края */
	position: relative; /* чтобы позиционирование подменю считалось относительно этого элемента*/
}
ul.main-menu > li:hover {/* При наведении мыши */
	background: #ccc; /* Меняется цвет фона на серый */
}

ul.main-menu > li > a { /* Ссылки главного меню */
	display: block;		/*ссылка будет вести себя как блочный элемент */
	padding: 20px;		/* Внутренний отступ */
	text-decoration: none;/* Убираем подчёркивание */
	color: #666;
	font-size: 18px;
}
ul.main-menu > li:hover > a {/* При наведении мыши на вкладки */
	color: white; /* Меняем цвет текста ссылки */
}

ul.main-menu > li > ul.sub-menu { /* Подменю 2го уровня */
	display: none; /* Скрываем */
	position: absolute; /* Чтобы можно было спозиционировать под вкладку */
    top: 60px;
    left: 0px;
    background: #ccc; /* серый фон */
    list-style: none;
    padding-left: 0;
    width: 100%;
}
ul.main-menu > li:hover > ul.sub-menu {/* Показываем при наведении */
	display: block; 
}

ul.main-menu > li > ul.sub-menu > li > a { /* ссылки подменю*/
	text-decoration: none;
    display: block;
    height: 40px;
    padding: 5px;
    color: white;
}



